body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #164990;
    }
    .corner-logo {
        svg {
        fill: #164990 !important;
           .octo-banner{
              fill:#EDF6FF;
           }
        }
     }
     .skill-icon {
        color:#d7dce3;
     }

     footer a,
     footer a:visited {
         color: #d7dce3;
     }
     
     footer a:hover,
     footer a:focus {
         color: #d7dce3;
     }
}